---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-gpu-resource-driver
spec:
  chartRef:
    kind: OCIRepository
    name: intel-gpu-resource-driver
    namespace: flux-system
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:

    cdi:
      staticPath: /var/cdi/static
      dynamicPath: /var/cdi/dynamic

    kubeletPlugin:
      podAnnotations: {}
      nodeSelector: {} # ignored when .Values.nodeFeatureRules.enabled or .Values.nfd.enabled
      tolerations: {}
      affinity: {}

    nodeFeatureRules:
      enabled: true

    nfd:
      enabled: false # change to true to install NFD to the cluster
      nameOverride: intel-gpu-nfd
      enableNodeFeatureApi: true