---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/dragonflydb.io/dragonfly_v1alpha1.json
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: dragonfly
  namespace: database
spec:
  image: ghcr.io/dragonflydb/dragonfly:ubuntu-v1.30.3-amd64
  replicas: 3
  env:
    - name: MAX_MEMORY
      valueFrom:
        resourceFieldRef:
          resource: limits.memory
          divisor: 1Mi
  args:
    - --maxmemory=$(MAX_MEMORY)Mi
    - --proactor_threads=2
    - --cluster_mode=emulated
    - --lock_on_hashtags
    - --lua_allow_undeclared_auto_correct=true
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      memory: 512Mi