---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: ai
  name: ollama-ui-pvc
  labels:
    type: longhorn
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-fast
  volumename: pvc-1d58ab87-ddf8-4898-b3f9-6f54ae856622