
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: polaris-data
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn-fast
  volumename: pvc-2f2fa3e6-24a0-4df4-9f29-8960edfc62d2

