---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-config
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 25Gi
  storageClassName: longhorn-fast
  volumeName: pvc-6da077e9-8631-4b8c-af7d-ffc12038d72f
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-transcode
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 150Gi
  storageClassName: openebs-hostpath
  volumename: pvc-1c6951ed-9411-463d-918d-e3c79f6ffe76
