---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn-fast
  volumename: pvc-679fbcd8-bc65-416b-8da7-38983244aefe
