---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn-fast
  volumename: pvc-82e04e11-c5e3-4233-8a1a-58138fe59a3f
