---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: baibot-data
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 256Mi
  storageClassName: longhorn-ssd
  volumename: pvc-850ed7d5-51db-49e3-9fe4-b4e6895503f2