---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-storage
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 15800Gi
  storageClassName: longhorn-storage
  volumename: pvc-198dcdea-1d29-4220-b069-a95cb2b7235b