---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./prometheus-operator-crds/ks.yaml
  - ./gatus/ks.yaml
  # - ./smartctl-exporter/ks.yaml
  # - ./unpoller/ks.yaml
  # - ./victoria-metrics/ks.yaml
  # - ./victoria-logs/ks.yaml
  - ./grafana/ks.yaml
  - ./loki/ks.yaml
  # - ./ntfy/ks.yaml
  - ./goldilocks/ks.yaml
  - ./apprise/ks.yaml
  - ./kube-state-metrics/ks.yaml
  - ./promtail/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  # Exporters
  - ./exporters
