apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
 - helmrelease.yaml
 - s3-secret.sops.yaml
 - ./storage-classes/longhorn-sc-fast.yaml
 - ./storage-classes/longhorn-sc-ssd.yaml
 - ./storage-classes/longhorn-sc-storage.yaml
#  - ./jobs/filesystem-trim.yaml
#  - ./jobs/snapshot-manage.yaml